

header
{
    background-color: darkblue;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    justify-content: right;
    align-items: flex-start;
 }
        

a
{
    text-decoration: none;
    color: white;
}

.nav_links
{
    list-style: none;
}  

.nav_links li

{
display: inline-block;
padding: 10px;
margin: 10px;


}
.nav_links li a
{
    transition: all 0.3s ease 0s;
}


.nav_links a:hover
{
    color: blue;
}

h3

{
 color: black;
text-align: center;
margin: 40px;
    
}
.container
{
display: flex;
justify-content: space-between;

}
.container__box

{
    height: 300px;
    width: 400px;
    margin: 50px;
   
}

.text__box

{
 
 text-align: center;
 color: black;
 font-style: italic;
 word-spacing:2px;
    
}
    body
    {
        background-color: aliceblue;
        
    }

    img
    {
        border-radius: 30%;
    }


    footer
    {
        width: 100%;
        height: 50px;
        padding: 10px 10px;
        background-color: grey;
        display: flex;
        justify-content: center;
        
    }


@media (min-width:748px) and (max-width:1024px)

    {
        .container
   {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       

       
   }
    }

